/* Global settings */
:root{
    /* Color */
    --color-point: #fff176; /*#003c8f,#bbdefb*/
    --color-white: #ffffff;
    --color-light-gray:#f5f5f5;
    --color-dark-gray: #383838;
    --color-black: #000000;

    /* Font size */
    --size-large: 2rem;
    --size-medium: 1.2rem;
    --size-regular: 1rem;
    --size-small: .6rem;

    /* Font weight */
    --weight-bold: 700;
    --weight-medium: 600;
    --weight-regular: 400;
    --weight-light:300;

    /* Font family */
    --font-style: 'Open Sans', sans-serif;
}
/* Universal Tags */
*{
    box-sizing: border-box;
}

body{
    background: center/cover repeat url(img/globe.jpg);
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: var(--font-style);
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Styling */
.main__title{
    font-size: calc(var(--size-large)*1.5);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    font-style: italic;
    margin: calc(var(--size-large)*1.5) auto;
}

.search-form {
    max-width: 400px;
    margin: 0 auto;
}

input.search {
    width: 115%;
    left: -7.5%;
    position: relative;
    outline: none;
    padding: var(--size-regular);
    font-size:var(--size-large);
    text-align: center;
    border: var(--size-small) solid var(--color-light-gray);
    border-radius: calc(var(--size-small)/2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

ul.suggestions{
    margin: 0;
}

.suggestions li{
    background-color: var(--color-light-gray);
    font-size: var(--size-medium);
    font-weight: var(--weight-regular);
    color: var(--color-dark-gray);
    padding: var(--size-regular);
    display: flex;
    justify-content: space-between;
    transition: all 200ms;
}

.suggestions li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg) translateY(2px) scale(1.003);
    background: linear-gradient(to bottom, rgba(255,255,255,0.98) 0%, rgba(225,225,225,0.98) 100%);
}

.suggestions li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(3px) ;
    background: linear-gradient(to top,  rgba(255,255,255,0.98) 0%, rgba(225,225,225,0.98) 100%);
}

/* JS 추가 후 수정 */
.matching{
    background-color: var(--color-point);
}

.population {
    font-size: var(--size-regular);
    color: var(--color-black);
}




