* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: blue;
}


a{
  text-decoration: none;
  background-color: rgba(255,255,255,0.25);
  padding: .025em .5em;
  border-radius: .2em;
  font-weight: 400;
}

.a_font{
  color: blue;
}

.menu {
  font-size: 1.25rem;
  margin: 3em auto;
  max-width: 38.4em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  flex-wrap: wrap;
}

.menu > li {
  margin: .3em;
}

.wrapper{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2em auto;
  padding: .5em;
  max-width: 45em;
  line-height: 1.5em;
  text-indent: 2em;
}

.highlight{
  transition: all 200ms ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  color: blue;
  background:rgb(255, 231, 0);
  z-index: -1; 
  border-radius: .2em;         
}

@media screen and (max-width: 48rem) {
  .menu {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper{
    font-size: 1.2rem;
  }
}
  